.front-image{
    width: 100%;
}

.title {
    font-family: 'Mulish', sans-serif;
}

.text {
    color: #999999;
}

.nav-link {
    text-decoration: none;
}

.img-column {
    width: 100%;
    height: 300px;
}